.square {
    height: 100%;
}

.img {
    display: flex !important;
}

.img img {
    height: 100% !important;
}

.grid {
    margin-top: 20px !important;
}

.imageCaption {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.desc {
    width: 100% !important;
}

/* .desc:hover {
    border: black 1px solid;
} */

.ico {
    float: right !important;
    /* margin-top: 5px !important; */
}

.addNewIcon {
    height: 200px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    width: 100% !important;
}